@charset "UTF-8";

/* base
======================================== */
$break-small: 767px;
$base-font: "Roboto", sans-serif;

/* base
======================================== */
$main: #03425F;
$bgBlue1: #EAF3FF; 
$bgBlue2: #D9ECF5;
$text: #333;
$textRed: #F76868;
$textGreen: #5C8C77;
$tetBlue: #338EB9;
$bgWhiteGray: #fdfafa;