---
---

<div class="aboutUs py-16 md:py-22">
  <div class="aboutUs__inner px-6 mx-auto xl:max-w-300">
    <h2 class="titleA">aboutUs</h2>
  </div>
</div>

<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .aboutUs {
    background-color: $bgBlue2;
  }
  .aboutUs__inner {
  }
</style>