---
---

<section id="section04" class="aboutUs py-21 md:py-25">
  <div class="aboutUs__inner px-6 mx-auto xl:max-w-300">
    <h2 class="titleA">About Us</h2>
    <p class="headingA">Meet the team behind this application.</p>
    <ul class="profile__wrap">
      <li class="profile -peron01">
        <span class="profile__img"><img src="/img/person01.jpg" srcset="/img/person01.jpg 1x,./img/person01@2x.jpg 2x" alt="Pragati"></span>
        <h3 class="profile__name">Pragati</h3>
        <p class="profile__description">Backend Developer & API Architect</p>
      </li>
      <li class="profile -peron02">
        <span class="profile__img"><img src="/img/person02.jpg" srcset="/img/person02.jpg 1x,/img/person02@2x.jpg 2x" alt="Kanako"></span>
        <h3 class="profile__name">Kanako</h3>
        <p class="profile__description">Frontend Developer & UI/UX Designer</p>
      </li>
    </ul>
    <div class="aboutUs__foot">
      <h3 class="aboutUs__footTitle">Why SafeReport Was Created</h3>
      <p class="aboutUs__footText">SafeReport was created after a clinic director visited our FP center with a request: “A safe way for staff to report incidents is needed.” The challenge was taken up by our class, and different ideas were developed. After testing and presentations, our design was chosen for being simple and secure. A classroom task became a final project—and later, the SafeReport platform.</p>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .aboutUs {
    background-color: $bgBlue2;
  }
  .profile__wrap {
    display: flex;
    justify-content: center;

    @include mq-pc {
      gap: 0 124px;
      margin-top: 82px;
    }
    @include mq-sp {
      flex-direction: column;
      gap: 40px 0;
      margin-top: 40px;
    }
  }
  .profile {
    text-align: center;
  }
  .profile__img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    .-peron01 & {
      img { transform: none; }
    }
    .-peron02 & {
      img { transform: scale(1.6); }
    }
  }
  .profile__name {
    font-weight: 700;
    @include mq-pc {
      font-size: 28px;
    }
    @include mq-sp {
      font-size: 24px;
    }
  }
  .profile__description {
    font-size: 18px;
  }
  .aboutUs__foot {
    background: #fff;
    box-shadow: 5px 5px 18px #d5dde8,
    -5px -5px 18px #fff;
    border-radius: 20px;
    padding: 40px;
    @include mq-pc {
      margin-top: 64px;
    }
    @include mq-sp {
      margin-top: 40px;
    }
  }
  .aboutUs__footTitle {
    font-weight: 700;
    @include mq-pc {
      text-align: center;
      font-size: 28px;
    }
    @include mq-sp {
      font-size: 24px;
    }
  }
  .aboutUs__footText {
    margin-top: 24px;
    @include mq-pc {
      font-size: 18px;
    }
    @include mq-sp {
      font-size: 16px;
    }
  }
</style>