---
---

<section id="section02" class="features py-21 md:py-25">
  <div class="features__inner px-6 mx-auto xl:max-w-300">
    <h2 class="titleA">Key Features</h2>
    <p class="headingA">Our app provides a secure platform for anonymous reporting with powerful features designed for healthcare settings.</p>
    <ul class="featureCardList">
      <li class="featureCard">
        <span class="featureCard__icon"><img src="./src/assets/img/features/icon01.svg" alt=""></span>
        <h3 class="featureCard__title">Complete Anonymity</h3>
        <p class="featureCard__text">Report incidents without revealing your identity, ensuring complete confidentiality.</p>
      </li>
      <li class="featureCard">
        <span class="featureCard__icon"><img src="./src/assets/img/features/icon02.svg" alt=""></span>
        <h3 class="featureCard__title">Two-way Communication</h3>
        <p class="featureCard__text">Maintain anonymous dialogue with administrators while preserving your privacy.</p>
      </li>
      <li class="featureCard">
        <span class="featureCard__icon"><img src="./src/assets/img/features/icon03.svg" alt=""></span>
        <h3 class="featureCard__title">Real-time Updates</h3>
        <p class="featureCard__text">Receive updates on the status of your reports and follow-up actions.</p>
      </li>
      <li class="featureCard">
        <span class="featureCard__icon"><img src="./src/assets/img/features/icon04.svg" alt=""></span>
        <h3 class="featureCard__title">User experience</h3>
        <p class="featureCard__text">Simple and intuitive interface for quick and efficient incident reporting.</p>
      </li>
      <li class="featureCard">
        <span class="featureCard__icon"><img src="./src/assets/img/features/icon05.svg" alt=""></span>
        <h3 class="featureCard__title">Analytics Dashboard</h3>
        <p class="featureCard__text">Administrators can identify patterns and take preventive measures.</p>
      </li>
      <li class="featureCard">
        <span class="featureCard__icon"><img src="./src/assets/img/features/icon06.svg" alt=""></span>
        <h3 class="featureCard__title">Secure Data Storage</h3>
        <p class="featureCard__text">All data is encrypted and stored securely, meeting healthcare compliance standards.</p>
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .features {
    background-color: $bgBlue2;
  }
  .featureCardList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @include mq-pc {
      margin-top: 64px;
    }
    @include mq-sp {
      margin-top: 40px;
    }
  }
  .featureCard {
    background: #fff;
    box-shadow: 5px 5px 18px #d5dde8,
    -5px -5px 18px #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    text-align: center;
    @include mq-pc {
      width: calc((100% - 48px) / 3);
    }
    @include mq-sp {
      width: calc((100% - 24px) / 2);
      padding: 16px;
    }
  }
  .featureCard__icon {
    display: block;
    width: 34px;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }
  .featureCard__title {
    font-weight: 700;
    @include mq-pc {
      font-size: 20px;
    }
    @include mq-sp {
      font-size: 18px;
    }
  }
  .featureCard__text {
    @include mq-pc {
      font-size: 16px;
    }
    @include mq-sp {
      font-size: 14px;
    }
  }
</style>