---
---

<div class="features">
  <div class="features__inner">
    <h2>Features</h2>
  </div>
</div>

<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
</style>