---
---

<div id="section03" class="flow pt-16 md:pt-16">
  <div class="flow__inner">
    <div class="flow__head px-6 mx-auto xl:max-w-300">
      <ol class="stepHeading">
        <li class="-user">User</li>
        <li class="-admin">Admin</li>
      </ol>
      <ol class="stepList flex items-center mx-auto w-8/12">
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Home</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Form</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Preview</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Confirmation</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow -activeAdmin bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Admin login</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow -activeAdmin bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Admin top</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow -activeAdmin bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Admin Detail</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Consulta</span>
          </div>
        </li>
        <li class="step flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block">
          <div class="step__flow bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">View</span>
          </div>
        </li>
        <li class="step flex items-center w-fit">
          <div class="step__flow -activeAdmin bg-gray-100 rounded-full lg:h-4 lg:w-4 shrink-0">
            <span class="heading">Dashbord</span>
          </div>
        </li>
      </ol>
    </div>

    <div class="panelWrap">
      <section class="panel" data-index-panel="1">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step01.jpg" srcset="./src/assets/img/flow/step01.jpg 1x,./src/assets/img/flow/step01@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="2">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step02.jpg" srcset="./src/assets/img/flow/step02.jpg 1x,./src/assets/img/flow/step02@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="3">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step03.jpg" srcset="./src/assets/img/flow/step03.jpg 1x,./src/assets/img/flow/step03@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="4">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step04.jpg" srcset="./src/assets/img/flow/step04.jpg 1x,./src/assets/img/flow/step04@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="5">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step05.jpg" srcset="./src/assets/img/flow/step05.jpg 1x,./src/assets/img/flow/step05@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="6">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step06.jpg" srcset="./src/assets/img/flow/step06.jpg 1x,./src/assets/img/flow/step06@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="7">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step07.jpg" srcset="./src/assets/img/flow/step07.jpg 1x,./src/assets/img/flow/step07@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="8">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step08.jpg" srcset="./src/assets/img/flow/step08.jpg 1x,./src/assets/img/flow/step08@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="9">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step09.jpg" srcset="./src/assets/img/flow/step09.jpg 1x,./src/assets/img/flow/step09@2x.jpg 2x" alt=""></div>
        </div>
      </section>
      <section class="panel" data-index-panel="10">
        <div class="panel__inner px-6 mx-auto xl:max-w-300">
          <div class="panel__img"><img src="./src/assets/img/flow/step10.jpg" srcset="./src/assets/img/flow/step10.jpg 1x,./src/assets/img/flow/step10@2x.jpg 2x" alt=""></div>
        </div>
      </section>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .flow {
    background-color: #fff;
    overflow: hidden;
  }
  .flow__inner {
  }
  .flow__head {
    @include mq-pc {
      display: flex;
    }

  }
  .stepHeading {
    @include mq-pc {
      margin-top: -20px;
    }

    > li {
      display: flex;
      align-items: center;
      font-weight: 700;
      
      &::before {
        content: "";
        width: .8em;
        height: .8em;
        border-radius: 50%;
        margin-right: .5em;
      }
      &.-user::before { background-color: $colorUser; }
      &.-admin::before { background-color: $colorAdmin;}

      &:not(:first-of-type) {
        margin-top: 8px;
      }
    }
  }
  .stepList {

  }
  .step {
  }
  .step__flow {
    display: block;
    background-color: #eee;
    position: relative;

    &::after {
      background: #eee;
    }
    .num {
      display: block;
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    .heading {
      display: block;
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: -1.8em;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      @at-root {
        .step:nth-of-type(even) .step__flow .heading {
          top: 1.2em;
        }
      }
    }
  }
  .panelWrap {
    display: flex;
    @include mq-pc {
      margin-top: 54px;
    }
    @include mq-sp {
      margin-top: 32px;
    }
  }
  .panel {
    flex: 0 0 100vw;
    height: 100vh;
    height: calc(100vh - #{(64px + 32px)});
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;

    &[data-index-panel="1"],
    &[data-index-panel="2"],
    &[data-index-panel="3"],
    &[data-index-panel="4"],
    &[data-index-panel="8"],
    &[data-index-panel="9"] {
      background-color: rgba(#14488C, .2);
    }
    &[data-index-panel="5"],
    &[data-index-panel="6"],
    &[data-index-panel="7"],
    &[data-index-panel="10"] {
        background-color: rgba(#F97316, .2);
    }
  }

  .panel__inner {
    width: 100%;
    height: 100%;
  }
  .panel__img {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 64px;
    // bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    @include mq-pc {
      // height: 60vh;
      // min-height: 450px;
      width: 800px;
      height: 476px;
      overflow: scroll;
    }

    img {
      width: 100%;
      height: max-content;
      // height: 100%;
    }
  }


  .step__flow {
  transition: #eee;

    &.active {
      background-color: $colorUser;

      .heading {
        color: $colorUser;
      }
    }
    &.active.-activeAdmin {
      background-color: $colorAdmin;
      .heading {
        color: $colorAdmin;
      }
    }
  }

</style>

<script type="module" src="/src/scripts/gsap-scroll.js"></script>
