---
---

<footer class="footer">
  <div class="footer__inner p-6 text-center">
    <p class="footer__copy">&copy; Copyright 2025, Pragati Juyal and Kanako Inamine</p>
  </div>
</footer>


<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .footer {
    background-color: $bgBlue2;
  }
  .footer__inner {

  }
  .footer__copy {
    @include mq-pc {
      font-size: 12px;
    }
    @include mq-sp {
      font-size: 10px;
    }
  }
</style>