---
const nav = [
  {
    href: '#section1',
    label: 'section_1'
  },
  {
    href: '#section2',
    label: 'section_2'
  },
  {
    href: '#section3',
    label: 'section_3'
  },
  {
    href: '#section4',
    label: 'section_4'
  },
  {
    href: '#section5',
    label: 'section_5'
  }
]
---


<header class="header">
  <div class="header__inner px-10 pt-4">
    <!-- <span class="header__logo"><img src="./src/assets/img/logo.svg" alt="" width="" height=""></span> -->
    <nav class="header__nav">
      <ul class="header__navList">
        {nav.map((nav_item) => 
          <li>
            <a 
              href={nav_item.href}
              class="header__navLink text-base md:text-lg md:font-bold"
            >
              {nav_item.label}
            </a>
          </li>
        )}
      </ul>
    </nav>
  </div>
</header>


<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .header {
    // background-color: pink;
    
    display: none;
  }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__navList {
    display: flex;
    @include mq-pc {
      gap: 32px;
    }
    @include mq-sp {
      display: none;
    }

    > li {
      
    }
  }
  .header__navLink {
    
  }
</style>