---
---

<div class="flow py-21 md:py-25">
  <div class="flow__inner px-6 mx-auto xl:max-w-300">

    <h2 class="titleA">Tech & Takeaways</h2>
  
  </div>
</div>

<style lang="scss">
  @use '../assets/css/vars.scss' as *;
  @use '../assets/css/mixin.scss' as *;
  
  .flow {
    background-color: #fff;
  }
  .flow__inner {
  }
</style>